<footer id="footer">
  <div class="container">
    <div class="col-md-3" id="col-1">
      <h4><%= t "website_info.info" %></h4>
      <li><%= link_to t("website_info.rules"), "#" %></li>
      <li><%= link_to t("website_info.security"), "#" %></li>
      <li><span class="fa fa-copyright"></span>
        <%= link_to t("website_info.copyright"), "#" %>
      </li>
    </div>
    <div class="col-md-3" id="col-2">
      <h4><%= t "use_website.use" %></h4>
      <li><%= link_to t("use_website.add_new"), "#" %></li>
      <li><%= link_to t("use_website.search"), "#" %></li>
      <li><%= link_to t("use_website.account_info"), "#" %></li>
    </div>
    <div class="col-md-3" id="col-3">
      <h4><%= t "social_link.social" %></h4>
      <li><%= link_to t("social_link.facebook"), "#" %></li>
      <li><%= link_to t("social_link.google"), "#" %></li>
      <li><%= link_to t("social_link.twitter"), "#" %></li>
    </div>
    <div class="col-md-3" id="col-4">
      <h4><%= t "contact_info.contact" %></h4>
      <li><%= t "contact_info.hotline" %></li>
      <li><%= t "contact_info.email" %></li>
      <li><%= t "contact_info.address" %></li>
    </div>
  </div>
<footer>
