<header class="navbar navbar-fixed-top navbar-inverse" id="my-header">
  <div class="container">
    <div><%= link_to t("layouts.banner"), root_path, id: "logo" %></div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("layouts.home"), root_path %></li>
          <% if current_user.nil? %>
            <li><%= link_to t("login"), new_user_session_path %></li>
            <li><%= link_to t("register"), new_user_registration_path %></li>
          <% else %>
            <li><%= link_to t("address.add_new_address"), new_address_path %></li>
            <li id="fat-menu" class="dropdown header_user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag("avatar_default.jpg") %>
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to t("layouts.profile"), user_path(current_user) %></li>
                <li><%= link_to t("layouts.setting"), "#" %></li>
                <li>
                  <%= link_to t("logout"), destroy_user_session_path,
                  method: :delete %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
