<%= form_for @address, html: {multipart: true} do |f| %>
  <div id="input-form">
    <p>
      <%= f.label :capacity %>
      <%= f.text_field :capacity, class: "address-input",
        placeholder: t("address.capacity_input") %>
    </p>
    <p>
      <%= f.label :contact %>
      <%= f.text_field :contact, class: "address-input",
        placeholder: t("address.contact_input") %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, class: "address-input",
        placeholder: t("address.description_input") %>
    </p>
  </div>

  <div id="upload-images-form">
    <div class="btn-group">
      <a class="btn-action-show-images btn btn-info toggler disabled"
        data-toggle="modal">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </a>

      <%= link_to_add_fields t("address.add_image"), f, :images %>
    </div>

    <div id="images-form" style="display: none">
      <ul class="nav nav-tabs" id="tab-add-image">
      </ul>
      <div class="tab-content"></div>
    </div>
  </div>

  <div id="map-add-address" style="display: block">
    <div id="latlng-box">
      <%= f.label :latitude %>
      <%= f.text_field :lat, id: "form-lat", class: "latlng-input" %>
      <%= f.label :longitude %>
      <%= f.text_field :lng, id: "form-lng", class: "latlng-input" %>
    </div>
    <input id="pac-input" class="controls" type="text">
    <div id="map-canvas"></div>
  </div>
  <br>
  <%= f.submit t("address.add_address"), class: "btn btn-primary" %>
<% end %>
