<div class="address">
  <div class="address-thumb">
    <%= image_tag_link adds_by_province %>
    <div class="address-id">
      <%= t "new_code" %> <%= adds_by_province.id %>
    </div>
  </div>
  <div class="address-details">
    <div class="title">
      <%= link_to adds_by_province.title, address_path(adds_by_province),
        title: "adds_by_province.title", class: "visit",
        data: {adds_by_province: adds_by_province.as_json.merge({
          image_tag: image_tag_link(adds_by_province)})} %>
    </div>
    <div>
      <div class="col-md-6" id="first-column">
        <span class="fa fa-location-arrow icon"></span>
        <span class="num-info"><%= adds_by_province.address %></span><br>
        <span class="fa fa-usd" id="fa-usd"></span>
        <%= t "price" %>
        <span class="num-info"><%= adds_by_province.simplify_price %>
        </span>        
      </div>
      <div class="col-md-6">
        <span class="fa fa-square-o icon" id="fix-square"></span>
        <%= t "capacity" %>
        <span class="capacity"><%= adds_by_province.capacity %>
        </span><br>
        <span class="glyphicon glyphicon-phone icon"></span>
        <%= t "contact" %> 
        <span class="contact num-info ">
          <%= adds_by_province.contact %></span>
      </div>
    </div>
    <div class="more-info">
      <span class="glyphicon glyphicon-map-marker" id="fix-marker"></span>
      <spam class ="left icon-map" data-address-id="<%= adds_by_province.id %>"
        aria-hidden="true"><%= t "show_on_map" %></span>
      <span class="right">
        <%= adds_by_province.created_at.to_date.to_formatted_s :long_ordinal %>
      </span>
    </div>
  </div>
</div>
