<%#= render "shared/filter" %>

<% @regions.each do |add| %>
  <div class="main-content">
    <div class="div-title">
      <span class="glyphicon glyphicon-home"></span>
      <strong><%= add.first.province %></strong>
      <span id="link"><%= link_to "See more >>", "#" %></span>
    </div>
    <%= render partial: "adds_by_province", collection: add %>
  </div>
<% end %>

<div id="visited">
  <div id="visited-title">
    <span class="fa fa-history"></span>
    <strong id="strong"><%= t "address.visited_link" %></strong>
    <hr>
  </div>
</div>

<div style="display: none">
  <%= render "visited" %>
</div>

<% content_for :right do %>
  <div id="right-content">

    <div id="bnt-box" class="row">
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.add_address" %>
      </button>
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.quick_guide" %>
      </button>
    </div>
    <div id="recent-address-box" class="row">
      <div id="right-content-title">
        <span class="glyphicon glyphicon-home"></span>
        <strong><%= t "recent_address" %></strong>
      </div>
      <div >
        <%= render partial: "recent_address", collection: @recent_addresses %>
      </div>
    </div>
  </div>
<% end %>
