<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t "search.sorting" %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= sort_link @search, :address_title, Room.human_attribute_name(:title) %></li>
    <li><%= sort_link @search, :price %></li>
    <li><%= sort_link @search, :square %></li>
    <li><%= sort_link @search, :facility %></li>
  </ul>
</div>
