<%= render "shared/filter" %>
<h3><%= t "search.result" %></h3>
<div class="panel panel-info">
  <div class="panel-heading">
    <% if @addresses.blank? %>
      <%= t "search.no_data" %>
    <% else %>
      <%= render "searchs/sorting_search" %>
      <%= render partial: "addresses/adds_by_province", collection: @addresses,
        as: :adds_by_province %>
      <%= paginate @addresses %>
    <% end %>
  </div>
</div>
<% content_for :right do %>
  <div id="right-content">

    <div id="bnt-box" class="row">
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.add_address" %>
      </button>
      <button class="btn btn-danger col-md-10 col-md-offset-1">
        <%= t "button.quick_guide" %>
      </button>
    </div>
    <div id="recent-address-box" class="row">
      <div id="right-content-title">
        <span class="glyphicon glyphicon-home"></span>
        <strong><%= t "recent_address" %></strong>
      </div>
      <div >
        <%= render partial: "addresses/recent_address",
          collection: @recent_addresses %>
      </div>
    </div>
  </div>
<% end %>
