<header class="navbar navbar-fixed-top navbar-inverse" id="my-header">
  <div class="container">
    <%= link_to t("app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <strong><%= current_user.email %></strong><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("header.edit_user"),
                edit_user_registration_path, class: "navbar-link" %></li>
              <li class="divider"></li>
              <li><%= link_to t("logout"), destroy_user_session_path,
                method: :delete, class: "navbar-link" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login"), new_user_session_path %></li>
          <li><%= link_to t("register"), new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
