<!DOCTYPE html>
<html>
<head>
  <title><%= t "app_name" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxRMu0AfaBDL7HaXksDq3JSZloizIureI&sensor=false">
  </script>
  <script>
    google.maps.event.addDomListener(window, "load", initialize);
  </script>
</head>
<body>
  <%= yield %>
</body>
</html>
